* {
  margin: 0%;
  padding: 0%;
}

.App {
  background: url("./assets/cypress.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-size: 14em;
  color: orange;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav {
  display: flex;
  font-size: 16pt;
  align-items: center;
  justify-content: space-between;
  background: grey;
}

#logo {
  margin-left: 1em;
  cursor: default;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 16pt;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  width: 20em;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: orange;
  transition: 0.5s;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, 0.5);
  height: 100vh;
  width: 100vw;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 10em;
  margin-top: 5em;
  font-size: 0.095em;
  cursor: pointer;
  background: none;
  transition: 0.3s;
  border: 1px solid orange;
}

#arrow {
  margin-left: 1em;
  transition: 0.3s;
}

#button:hover {
  background-color: black ;
}

#button:hover #arrow {
  transform: rotate(90deg);
  transition: 0.3s;
}

.words {
  text-align: center;
  font-size: 60pt;
}

